asn1crypto
beautifulsoup4
bleach
boto
boto3
botocore
bz2file
cachetools
certifi
cffi
chardet
click
colorama
cryptography
cycler
cymem
Cython
cytoolz
decorator
dialogflow
dill
docutils
entrypoints
enum34
flask
Flask-SQLAlchemy
ftfy
future
gensim
google
google-api-core
google-api-python-client
google-auth
googleapis-common-protos
grpcio
h5py
html5lib
httplib2
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
kwconfig
Markdown
MarkupSafe
matplotlib
mistune
msgpack-numpy
msgpack-python
murmurhash
nbconvert
nbformat
nltk
notebook
numpy
oauth2client
olefile
pandas
pandocfilters
path.py
pathlib
pickleshare
Pillow
plac
preshed
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycparser
Pygments
pyOpenSSL
pyparsing
pyreadline
PySocks
python-dateutil
pytz
pyyaml
pyzmq
qtconsole
regex
requests
rsa
s3transfer
scikit-learn
scipy
search-google
semver
simplegeneric
six
sklearn
smart-open
spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_smsputnik
SQLAlchemy
tabulate
tensorflow
tensorflow-tensorboard
termcolor
testpath
tflearn
thinc
toolz
tornado
tqdm
traitlets
ujson
uritemplate
urllib3
wcwidth
Werkzeug
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wrapt
xlrd
