beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.5.3
botocore==1.8.17
bz2file==0.98
cachetools==2.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cycler==0.10.0
cymem==1.31.2
Cython==0.27.3
cytoolz==0.8.2
decorator==4.1.2
dialogflow==0.1.0
dill==0.2.6
docutils==0.14
en-core-web-lg==2.0.0
en-core-web-sm==2.0.0
en-vectors-web-lg==2.0.0
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
ftfy==4.4.2
future==0.16.0
gensim==3.2.0
google==2.0.1
google-api-core==0.1.2
google-api-python-client==1.6.5
google-auth==1.2.1
googleapis-common-protos==1.5.3
grpcio==1.8.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras==2.1.2
kwconfig==1.1.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nbconvert==5.2.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.0.0
numpy==1.13.3
oauth2client==4.1.2
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
path.py==10.3.1
pathlib==1.0.1
pickleshare==0.7.4
Pillow==4.3.0
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.4.5
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.12
scikit-learn==0.19.0
scipy==0.19.1
search-google==1.2.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.5
spacy==2.0.4
SQLAlchemy==1.1.15
tabulate==0.8.2
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
testpath==0.3
tflearn==0.3.2
thinc==6.10.2
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==3.0.2
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xlrd==1.1.0
xx-ent-wiki-sm==2.0.0
